/* =================================
  Base Styles
==================================== */


.hamburger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;

}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



* {
	box-sizing: border-box;
}
body {
	font-size: 1.35em;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	background: #e8e9e9;
	padding-left: 2%;
	padding-right: 2%;
}

ul {
	list-style-type: none;
}

p {
	color: black;
}

.content{
	margin-top: 75px;
	padding-right: 20%;
	margin-bottom: 20%;
}


background {
	width: 100%;

}

a {
	text-decoration: none;

}



	.videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}




/* =================================
  Base Layout Styles
==================================== */


.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;

}

.main-nav a, .name a, .key-concepts a{
	font-size: 100%;
	padding-bottom: 2px;
	color: #da3e3e;
	text-transform: uppercase;

}
a:hover,
.nav-button:hover  {
  color: #093a58;

}

.nav-container a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}


/* ---- Containers ---- */




.main-nav {
	color: #3db5da;
}

.nav-container, .key-concepts{
	margin-left: -5px;
	margin-right: -5px;
  border-radius: 5px;

	margin-top: 1px;
	margin-bottom: 1px;
  height: 25vh;
}






/*---------------------- Dividers ---------------------*/

.key-concepts{
	margin-top: 20px;

	vertical-align: middle;

}

.banner{
background-image: url("/images/dish.jpg");
opacity: 0.85;
background-position:center;
background-size:cover;
color: #fff;
text-align: center;
height: 50vh;
vertical-align: middle;
line-height: 50vh;
margin-bottom: .5em;
border-radius: 5px;
margin-top: .5em;

}


.content-divider {
	text-align:center;
	background-image: url("/images/lightbulbblk.jpg");
	opacity: 0.85;
	background-size: cover;
	background-position: right;

	height: 50vh;
	vertical-align: middle;
	line-height: 50vh;

	color: #fff;
	padding: 15px;


	border-radius: 5px;
  text-align: center;

}

.headline{
	margin: 0;
}

.main-footer {
	text-align: center;
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}





/* ----------- Items -------------------*/

.nav-button{
	color: #fff;
	padding: 15px;
	margin: 5px;
	border-radius: 5px;
  text-align: center;
}


/*-------------- Nav Buttons ---------------*/
#current-unit-button{
	background-color: #d62929;
}

#past-quarters-button{
	background-color: #c12525;
}

#key-concepts-button{
	background-color: #ab2121;

}

/*-------------- Key Concept Buttons ---------------*/


#momentum-button{
	background-color: #1a75ff;
}

#force-button{
	background-color:#1a75fd;
	background-position: center;
	background-size: cover;

}

#inertia-button{
	background-color:#005ce6;

}

#newtons-first-law-button{
	background: url("rocket.jpg");
	background-position: center;
	background-size:cover;
	opacity: .85;

}


#else-button{
	background-color:#0047b3;

}

#here-button{
	background-color: #003d99;
}






@media (min-width:769px) {

	.button {
		flex-grow: 1;
		flex-basis: 0;

	}



	.nav-container {
  	display: flex;
  	align-items: center;
  	justify-content:space-around;
  	align-items: stretch;
  	text-align: center;
  	vertical-align: middle;
  	line-height: 20vh;

	}

.concept-button{
	height: 15vh;
	vertical-align:middle;
	line-height: 8vh;

	border-radius: 5px;
  text-align: center;


}

 .key-concepts{

	 display: grid;
	 grid-template-columns: 1fr 1fr 1fr;
	 grid-template-rows: 1fr, 1fr;
	 grid-gap: 15px 1px;

 }

	.main-header {
		display: flex;



		}
	.main-nav {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;





	}


}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}



}
