---
title: Scientific Notation
layout: layout
---

<p>

Scientific Notation is a way to take very small number or very large numbers and make them easier to read.




</p>
<div class="videoWrapper">
    <!-- Copy & Pasted from YouTube -->
  <iframe width="560" height="315" src="https://www.youtube.com/embed/oXvCBrV6U40" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
