---
title: Current Unit
layout: layout
---

<html>



<body>



 <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a id="home" href="../../index.html">Home</a>
  <a href="#section-1"> Transfer Diagrams </a>
  <a href="#section-2">Sankey Diagrams </a>
  <a href="#section-3">Quiz Reviews</a>
</div>



<!-- Use any element to open the sidenav -->




<div id = "myID" class="sideicon"  onclick="openNav()">

<div class="hamburger"></div>
<div class="hamburger"></div>
<div class="hamburger"></div>

</div>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main"> </div>

  <div class="page">
      <div class= "sections">
          <div id="section-1" class = "section-styling">
            <h1 class = "heading">
              Energy Transfer Diagrams
            </h1>
                <p>
                  Energy Transfer Diagrams allow us to keep track of all the energy transformations that occur within a system.
                </p>

              <div class="videoWrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jv9kzVk5-4U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
<%# ====================================
                Section 2
===================================== %>

          <div id="section-2" class = "section-styling">
            <h1 class = "heading">
              Sankey Diagrams
            </h1>
                <p>
                  Sankey Diagrams allow us to keep track of the magnitude of energy transformations within a system.
                </p>

              <div class="videoWrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/O2S4r3a4P4w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>


            <%# ====================================
                            Quiz Reviews
            ===================================== %>
            <div id="section-3" class = "section-styling">
              <h1 class = "heading">
                  Quiz Reviews
                  </h1>
                  <p>
                    Sankey Diagrams allow us to keep track of the magnitude of energy transformations within a system.
                  </p>

                <div class="videoWrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/O2S4r3a4P4w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>








    </div>
  </div>














</body>

</html>
