---
title: Home
layout: layout
---

<head>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>

	<main>

		<div class="banner">
			<h1 class="headline">ACHS Physics</h1>
		</div>

		<div class= "nav-container">
	        <a class = "button" href="pages/current_units.html">
	          <div class = "nav-button" id ="current-unit-button">
	            Current Unit
	          </div>
	        </a>
	        <a class = "button" href="http://example.com">
	          <div class = "nav-button" id ="past-quarters-button">
	            Past Quarters
	          </div>
	        </a>
	        <a class = "button" href="#key-concepts-section">
	          <div class = "nav-button" id ="key-concepts-button">
	            Key Concepts
	          </div>
	        </a>
	  </div>

		<div class="banner">
			<h1 class = "content-divider-text"> Key Concepts
				</h3>
		</div>

	  <div class="key-concepts" id = "key-concepts-section">
				<a class = "concept-button" href="momentum-quiz.html">
	        <div class = "nav-button concept-button" id ="momentum-button">
						         Scientific Notation
					</div>
				</a>
			  <a class = "concept-button" href="https://google.com">
					<div class = "nav-button concept-button" id = "force-button">
	          Vectors
					</div>
				</a>
			  <a class = "concept-button" href="https://google.com">
						<div class = "nav-button concept-button" id ="inertia-button">
							Newton's Laws
						</div>
					</a>

	  </div>

	</main>


	<script>
	  if (window.netlifyIdentity) {
	    window.netlifyIdentity.on("init", user => {
	      if (!user) {
	        window.netlifyIdentity.on("login", () => {
	          document.location.href = "/admin/";
	        });
	      }
	    });
	  }
	</script>
</body>
