---
title: ACHS Physics
layout: layout
---

<head>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>

	<main>



		<div class= "nav-container">
	        <a class = "button" id ="current-unit-button"href="pages/current_unit/current_units.html">
	          <div class = "nav-button" >
	            Current Unit
	          </div>
	        </a>
	        <a class = "button" id ="past-quarters-button" href="pages/past_quarters.html">
	          <div class = "nav-button" >
	            Past Quarters
	          </div>
	        </a>
	        <a class = "button" id ="key-concepts-button" href="#key-concepts-section">
	          <div class = "nav-button" >
	            Key Concepts
	          </div>
	        </a>
	  </div>

		<div class="banner" name = "key-concepts-divider">
			 Key Concepts

		</div>



		<div class="key-concepts-container">
		  <div class="box a">Sankey Diagrams</div>
		  <div class="box b">Force</div>
		  <div class="box c">C</div>
		  <div class="box d">D</div>
		  <div class="box e">E</div>
		  <div class="box f">F</div>

		</div>


	</main>


	<script>
	  if (window.netlifyIdentity) {
	    window.netlifyIdentity.on("init", user => {
	      if (!user) {
	        window.netlifyIdentity.on("login", () => {
	          document.location.href = "/admin/";
	        });
	      }
	    });
	  }
	</script>
</body>
